[Desktop Entry]
Name=Color Picker
Comment=An intuitive Color Picker
Exec=com.github.ronnydo.colorpicker
Icon=com.github.ronnydo.colorpicker
Keywords=colorpicker;color;picker;selector;pipette;
Terminal=false
Type=Application
Categories=GTK;Utility;Graphics;Development;
